<script src="/javascripts/checkall.js" type="text/javascript"></script>

  <% form_tag( {:action => 'bulk_handler'}, {:name => 'bulk_handler'} ) do -%>
    <h3>Samples</h3>
    <table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="nosort"><h3><input id="master_checker" type="checkbox" onClick="toggleChecks(document.bulk_handler)"></h3></th>
          <th><h3>Date</h3></th>
          <th><h3>Sample</h3></th>
          <th><h3>Status</h3></th>
          <th class="nosort"><h3>Edit</h3></th>
          <th class="nosort"><h3>Destroy</h3></th>
        </tr>
      </thead>

    <% for sample in @samples %>
      <tr>
        <td><%= check_box 'selected_samples', sample.id %></td>
        <td><%=h sample.submission_date.strftime("%Y/%m/%d") %></td>
        <td><%=h sample.short_and_long_name %></td>
        <td><%=h sample.status %></td>
        <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
        <td><%= link_to 'Destroy', sample, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>

    <p>
	Apply to checked samples: 
      <%= submit_tag 'Show Details' %>
      <%= submit_tag 'RNA Seq Pipeline' %>

      <% if current_user.staff_or_admin? %>
        <%= submit_tag 'Delete Selected Samples',
          :confirm => "Are you sure you want to delete all the selected samples?" %>
      <% end %>
    </p>
  <% end -%>	
