<h2>Listing Sample Prep Kits</h2>

<p><%= link_to 'New sample prep kit', new_sample_prep_kit_path %></p>

<table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><h3>Name</h3></th>
      <th><h3>Restriction Enzyme</h3></th>
      <th><h3>Paired End</h3></th>
      <th><h3>Multiplexing</h3></th>
      <th class="nosort"><h3>Edit</h3></td>
      <th class="nosort"><h3>Destroy</h3></td>
    </tr>
  </thead>
<% for sample_prep_kit in @sample_prep_kits %>
  <tr>
    <td><%=h sample_prep_kit.name %></td>
    <td><%=h sample_prep_kit.restriction_enzyme %></td>
    <td><%= sample_prep_kit.paired_end ? "<b>Yes</b>" : "No" %></td>
    <td><%=h sample_prep_kit.multiplexing_scheme && sample_prep_kit.multiplexing_scheme.name %></td>
    <td><%= link_to 'Edit', edit_sample_prep_kit_path(sample_prep_kit) %></td>
    <td><%= link_to 'Destroy', sample_prep_kit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>
