<h1>New Sample Prep Kits</h1>

<%= error_messages_for :sample_prep_kit %>

<% form_for(@sample_prep_kit) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Restriction Enzyme (if applicable)</b><br />
    <%= f.text_field :restriction_enzyme %>
  </p>

  <p>
    <b>Paired End</b><br />
    <%= f.check_box :paired_end %>
  </p>

  <p>
    <b>Multiplexing</b><br />
    <%= f.collection_select :multiplexing_scheme_id, MultiplexingScheme.all,
      :id, :name, {:prompt => "None"} %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sample_prep_kits_path %>
