<%= error_messages_for 'sample_set' %>

<% form_tag :action => 'new' do -%>
  <%= hidden_field_tag 'step', '2' %>

  <p><label for="sample_set_submission_date">Date Samples will be submitted</label><br/>
  <%= date_select 'sample_set', 'submission_date'  %></p>

  <p><label for="sample_set_number_of_samples">Number of samples</label><br/>
  <%= text_field 'sample_set', 'number_of_samples', :size => 4 %></p>

  <%= render :partial => 'projects' %>
  
  <p><label for="sample_set_sample_prep_kit_id">Sample Prep Kit</label><br/>
  <%= collection_select 'sample_set', 'sample_prep_kit_id',
    @sample_prep_kits, 'id', 'name', {:prompt => true} %>
  </p>

  <p id="multiplexing" style="display:none">
    <label for="sample_set_multiplex_number">Multiplexed Samples/Tube</label><br/>
    <%= text_field 'sample_set', 'multiplex_number', :size => 5, :value => 1 %>
  </p>

  <%= observe_field :sample_set_sample_prep_kit_id,
    :function => "determine_multiplexing_support(value)" %>

  <p><label for="sample_set_reference_genome_id">Reference Genome</label><br/>
  <%= collection_select 'sample_set', 'reference_genome_id',
    @reference_genomes, 'id', 'description', {:prompt => true} %><br/>
    * Contact the facility to add a new reference genome</p>

  <p><label for="sample_set_desired_read_length">Desired Number of Cycles</label><br/>
  <%= text_field 'sample_set', 'desired_read_length', :size => 6 %></p>

  <p>Alignment bases</p>
  <p><label for="sample_set_alignment_start_position">Start</label>
    <%= text_field 'sample_set', 'alignment_start_position', :size => 4 %> 

    <label for="sample_set_alignment_end_position">End</label>
    <%= text_field 'sample_set', 'alignment_end_position', :size => 4 %></p>
    
  <%= observe_field :sample_set_desired_read_length,
    :function => "set_alignment_end_position(value)" %>
  
  <p><label for="sample_set_eland_parameter_set_id">ELAND Parameters</label><br/>
  <%= collection_select 'sample_set', 'eland_parameter_set_id',
    @eland_parameter_sets, 'id', 'info', {:prompt => true} %><br/>
    * Contact the facility to add different eland parameter options</p>

  <p><label for="sample_set_insert_size">Insert Size</label><br/>
  <%= text_field 'sample_set', 'insert_size', :size => 8 %></p>

  <% if @naming_schemes.size > 0 %>
    <p><label for="sample_set_naming_scheme_id">Naming Scheme</label><br/>
    <select id='sample_set_naming_scheme_id' name='sample_set[naming_scheme_id]'>
      <option value="">- None -</option>
      <%= options_from_collection_for_select @naming_schemes, "id", "name",
        selected = @sample_set.naming_scheme_id.to_i %>
    </select></p>
  <% end %>

  <p><label for="sample_set_budget_number">Budget Number</label><br/>
  <%= text_field 'sample_set', 'budget_number' %></p>

  <%= submit_tag "Next ->" %>
<% end -%>

<script>
  function determine_multiplexing_support(kit_id) {
    var kit_multiplexing = {
      <% @sample_prep_kits.each do |kit| %>
        <%= "\"#{kit.id}\": #{kit.multiplexing_scheme_id ? "true" : "false"}," %>
      <% end %>
    }

    if(kit_multiplexing[kit_id]) {
      $('multiplexing').show();
    }
    else {
      $('multiplexing').hide();
    }
  }
</script>
