<% form_for @sample_set do |sample_set_form| -%>
  <%= sample_set_form.hidden_field 'submission_date'  %>
  <%= sample_set_form.hidden_field 'number_of_samples' %>
  <%= sample_set_form.hidden_field 'project_id' %>
  <%= sample_set_form.hidden_field 'sample_prep_kit_id' %>
  <%= sample_set_form.hidden_field 'reference_genome_id' %>
  <%= sample_set_form.hidden_field 'desired_read_length' %>
  <%= sample_set_form.hidden_field 'alignment_start_position' %> 
  <%= sample_set_form.hidden_field 'alignment_end_position' %>
  <%= sample_set_form.hidden_field 'eland_parameter_set_id' %>
  <%= sample_set_form.hidden_field 'insert_size' %>
  <%= sample_set_form.hidden_field 'naming_scheme_id' %>
  <%= sample_set_form.hidden_field 'budget_number' %>
  <%= sample_set_form.hidden_field 'submitted_by' %>
  <%= sample_set_form.hidden_field 'multiplex_number' %>

  <%= error_messages_for 'sample_set' %>

  <table id="table" class="nonsortable" cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
      <th>Name on the sample tube</th>
      <th>Sample Description</th>
      <% unless @samples_need_approval %>
        <th>Ready For Sequencing</th>
      <% end %>
      <th>Sample Comment</th>
    </tr>
    </thead>
    <% @n = nil %>
    <% sample_set_form.fields_for :sample_mixtures do |mixture_fields| %>
      <tr>
        <% @sample_mixture = mixture_fields.object %>
          <td><%= mixture_fields.text_field :name_on_tube, :size => 10 %></td>

          <td>
            <% @multiplexing_scheme = SamplePrepKit.find(@sample_set.sample_prep_kit_id).multiplexing_scheme %>
            <% if @multiplexing_scheme %>
              Multiplexed samples
            <% end %>
            <table class="nonsortable">
              <% @samples = mixture_fields.object.samples %>
              <% mixture_fields.fields_for :samples do |sample_fields| %>
                <tr>
                  <% @sample = sample_fields.object %>
                  <% @n = @n ? @n+1 : 0 %>

                  <% if @naming_scheme == nil %>
                    <td><%= sample_fields.text_field :sample_description, :size => 30 %></td>
                  <% else %>
                    <%= render :partial => 'samples/schemed_sample_description', :locals => { :sample_fields => sample_fields } %>
                  <% end %>
                  <td>
                    <% if @multiplexing_scheme %>
                      Barcode: <%= sample_fields.collection_select :multiplex_code_id, @multiplexing_scheme.multiplex_codes,
                        :id, :name, {:prompty => true} %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          </td>
          
          <% if @samples_need_approval %>
            <%= mixture_fields.hidden_field :ready_for_sequencing, :value => 0 %>
          <% else %>
            <td><%= mixture_fields.check_box :ready_for_sequencing %></td>
          <% end %>

          <td><%= mixture_fields.text_field :comment %></td>
      </tr>
    <% end %>
  </table>

  <%= submit_tag "Create Samples" %>
<% end -%>
