<% @page_specific_javascripts = ["sample_submission"] %>

<h2>Enter Samples</h2>

<div id="js_enabled" style="display:none;">
  <div id="ErrorExplanation" style="display:none;">
    <h2>Errors</h2>
    <p></p>
  </div>

  <% if(current_user.lab_groups.size > 0 || current_user.staff_or_admin?) %>
    <% form_for :sample_set, :url => {:action => :create}, :html => {:class => "bbq"} do -%>
      <div id="fieldWrapper">
      <div class="step" id="platform">
        <p><%= label :sample_set, :platform_id, 'Platform' %><br/>
        <%= select :sample_set, :platform_id, options_from_collection_for_select(Platform.all, :id, :name), {}, :class => "link" %></p>

        <p><%= label :sample_set, :date, 'Date Submitted' %><br/>
        <%= date_select :sample_set, :date %></p>

        <p><%= label :sample_set, :number, 'Number of Samples' %><br/>
        <%= text_field :sample_set, :number, :size => 4, :class => "required" %></p>

        <%= render :partial => 'projects' %>

        <p><%= label :sample_set, :reference_genome_id, 'Reference Genome' %><br/>
        <%= collection_select :sample_set, :reference_genome_id, @reference_genomes, :id, :description,
          {:prompt => true}, :class => "required" %><br/>
        * Contact the facility to add a new reference genome</p>

        <% if @naming_schemes.size > 0 %>
          <p><label for="sample_set_naming_scheme_id">Naming Scheme</label><br/>
          <select id='sample_set_naming_scheme_id' name='sample_set[naming_scheme_id]'>
            <option value="">- None -</option>
            <%= options_from_collection_for_select @naming_schemes, "id", "name" %>
          </select></p>
        <% end %>

        <p><label for="sample_set_budget_number">Budget Number</label><br/>
        <%= text_field 'sample_set', 'budget_number', :class => "required" %></p>
      </div>
      <% Platform.all.each do |platform| %>
        <div class="step" id="<%= platform.id %>">
          <p><%= label :sample_set, :sample_prep_kit_id, 'Sample Prep Kit' %><br/>
          <%= collection_select :sample_set, :sample_prep_kit_id,
            sample_prep_kit_choices(platform), :id, :name, {:prompt => true}, :class => "required" %></p>

          <div id="custom_prep" style="display:none;">
            <p><%= label :sample_set, :custom_prep_kit_id, 'Custom Prep' %><br/>
            <%= collection_select :sample_set, :custom_prep_kit_id,
              SamplePrepKit.custom, :id, :name, {:prompt => true} %>
            or <a href="#" id="add_custom_prep">Add your own</a>
            <div id="new_custom_prep_kit" class="field_grouping" style="display:none;">
              New custom prep kit<br/>
              <p>Name<br/>
              <%= text_field :sample_set, :custom_prep_kit_name %><p/>
              <p>Comments<br/>
              <%= text_field :sample_set, :custom_prep_kit_comments %><p/>
            </div>
          </div>

          <p><%= label :sample_set, :primer_id, 'Primer' %><br/>
          <%= collection_select :sample_set, :primer_id,
            primer_choices(platform), :id, :name, {:prompt => true}, :class => "required" %></p>

          <div id="custom_primer" style="display:none;">
            <p><%= label :sample_set, :custom_primer_id, 'Custom Primer' %><br/>
            <%= collection_select :sample_set, :custom_primer_id,
              Primer.custom, :id, :name, {:prompt => true} %>
            or <a href="#" id="add_custom_primer">Add your own</a>
            <div id="new_custom_primer" class="field_grouping" style="display:none;">
              New custom primer<br/>
              <p>Name<br/>
              <%= text_field :sample_set, :custom_primer_name %></p>
              <p>Comments<br/>
              <%= text_field :sample_set, :custom_primer_comments %><p/>
            </div>
          </div>

          <p><%= label :sample_set, :read_format, 'Read Format and Alignment' %><br/>
          <%= select :sample_set, :read_format, options_for_select(["Single read", "Paired end"]),
            {:prompt => true}, :class => "required" %></p>

          <div id="single_read" style="display:none;">
            <p><%= label :sample_set, :desired_read_length, 'Desired Number of Cycles' %><br/>
            <%= text_field :sample_set, :desired_read_length, :size => 6 %></p>

            <p>Alignment bases<br/>
            <%= label :sample_set, :alignment_start_position, 'Start' %>
            <%= text_field :sample_set, :alignment_start_position, :size => 4, :value => 1 %>
            <%= label :sample_set, :alignment_end_position, 'End' %>
            <%= text_field :sample_set, :alignment_end_position, :size => 4 %></p>
          </div>

          <div id="paired_end" style="display:none;">
            <table>
              <tr>
                <td>
                  <h3>Read 1</h3>
                  <p><%= label :sample_set, :desired_read_length_1, 'Desired Number of Cycles' %><br/>
                  <%= text_field :sample_set, :desired_read_length_1, :size => 6 %></p>

                  <p>Alignment bases<br/>
                  <%= label :sample_set, :alignment_start_position_1, 'Start' %>
                  <%= text_field :sample_set, :alignment_start_position_1, :size => 4, :value => 1 %>
                  <%= label :sample_set, :alignment_end_position_1, 'End' %>
                  <%= text_field :sample_set, :alignment_end_position_1, :size => 4 %></p>
                </td>
                <td>
                  <h3>Read 2</h3>
                  <p><%= label :sample_set, :desired_read_length_2, 'Desired Number of Cycles' %><br/>
                  <%= text_field :sample_set, :desired_read_length_2, :size => 6 %></p>

                  <p>Alignment bases<br/>
                  <%= label :sample_set, :alignment_start_position_2, 'Start' %>
                  <%= text_field :sample_set, :alignment_start_position_2, :size => 4, :value => 1 %>
                  <%= label :sample_set, :alignment_end_position_2, 'End' %>
                  <%= text_field :sample_set, :alignment_end_position_2, :size => 4 %></p>
                </td>
              </tr>
            </table>
          </div>

          <p><%= label :sample_set, :multiplexing_scheme_id, 'Multiplexing' %><br/>
          <%= collection_select :sample_set, :multiplexing_scheme_id,
            MultiplexingScheme.all, :id, :name, {:prompt => "- None -"}, :class => "multiplexing_scheme_id" %></p>

          <div id="multiplexing" style="display:none;">
            <p><label for="sample_set_multiplexed_number">Multiplexed Samples/Tube</label><br/>
            <%= text_field :sample_set, :multiplexed_number, :size => 8 %></p>
          </div>

          <% if platform.uses_gerald %>
            <p><%= label :sample_set_eland_parameter_set_id, 'ELAND Parameters' %><br/>
            <%= collection_select :sample_set, :eland_parameter_set_id,
              @eland_parameter_sets, 'id', 'info', {:prompt => true}, :class => "required" %><br/>
              * Contact the facility to add different eland parameter options</p>
          <% end %>

          <p><label for="sample_set_insert_size">Insert <b>+ Adapters</b> Size</label><br/>
          <%= text_field 'sample_set', 'insert_size', :size => 8, :class => "required" %></p>

          <%= hidden_field :sample_set, :next_step, :value => "samples", :class => "link" %>
        </div>
      <% end %>
      <div id="samples" class="step submit_step">
        <div id="sample_mixture_fields">
        </div>
      </div>
      </div>
      <div id="demoNavigation"> 							
        <input class="navigation_button" id="back" value="Back" type="reset" />
        <input class="navigation_button" id="next" value="Next" type="submit" />
      </div>
    <% end %>

    <div id="success" style="display:none;">
      <p>Samples were successfully recorded</p>

      <%= link_to 'Return to home page', root_url %>
    </div>
    
    <script type="text/javascript">
      var default_primers = {
        <%= SamplePrepKit.all.collect{|kit| "\"#{kit.id}\": #{kit.default_primer_id || 'null'}" }.join(",") %>
      }
    </script>
  <% else %>
    <p>You need to belong to one or more lab groups before you can see or submit any samples.
    Please contact your administrator at <a href="mailto:<%=h SiteConfig.administrator_email %>">
                                            <%=h SiteConfig.administrator_email %></a>
    if you need<br>to be added to any lab groups.</p>
  <% end %>
</div>
<div id="js_disabled">
  <p>You must have JavaScript enabled in your web browser to use the sample submission form.</p>
</div>
