<h1>Editing Sequencing Run</h1>

<%= error_messages_for :sequencing_run %>

<% form_for(@sequencing_run) do |f| %>
  <p><label>Date</label><br>
  <%= f.date_select 'date' %></p>

  <p><label>Flow Cell</label><br>
  <%= f.collection_select 'flow_cell_id', @flow_cells, :id, :name %></p>

  <p><label>Run Number</label><br>
  <%= f.text_field :run_number %></p>

  <p><label>Instrument</label><br>
  <%= f.collection_select 'instrument_id', @instruments, :id, :name_with_version %></p>
  
  <p><label>Comment</label><br>
  <%= f.text_field :comment %></p>
  
  <p><label>Best Sequencing Run (Only applies when a flow cell is sequenced multiple times)</label><br>
  <%= f.check_box :best %></p>
    
  <p><%= f.submit "Update" %></p>
<% end %>

<%= link_to 'Back', sequencing_runs_path %>
