<h1>Listing Sequencing Runs</h1>

<table class="sortable">
  <tr>
    <th>Date</th>
    <th>Flow Cell</th>
    <th>Instrument</th>
    <th>Comment</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>Create Config File</th>
  </tr>

<% for sequencing_run in @sequencing_runs %>
  <tr>
    <td><%=h sequencing_run.date %></td>
    <td><%=h sequencing_run.flow_cell.name %></td>
    <td><%=h sequencing_run.instrument.name %></td>
    <td><%=h sequencing_run.comment %></td>
    <td><%= link_to 'Edit', edit_sequencing_run_path(sequencing_run) %></td>
    <td><%= link_to 'Destroy', sequencing_run, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Create Config File',
            new_sequencing_run_gerald_configuration_path(sequencing_run) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Sequencing Run', new_sequencing_run_path %>
