<h2>Listing Sequencing Runs</h2>

<p><%= link_to 'New Sequencing Run', new_sequencing_run_path %></p>

<table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
  <thead>
  <tr>
    <th><h3>Date</h3></th>
    <th><h3>Flow Cell</h3></th>
    <th><h3>Run Number</h3></th>
    <th><h3>Instrument</h3></th>
    <th><h3>Comment</h3></th>
    <th><h3>Run Yield (mb)</h3></th>
    <th class="nosort"><h3>Edit</h3></th>
    <th class="nosort"><h3>Destroy</h3></th>
    <th class="nosort"><h3>Create Config File</h3></th>
    <th class="nosort"><h3>Default Output Paths</h3></th>
  </tr>
  </thead>

  <tbody>
<% for sequencing_run in @sequencing_runs %>
  <tr>
    <td><%=h sequencing_run.date.strftime("%Y/%m/%d") %></td>
    <td><%=h sequencing_run.flow_cell.name %></td>
    <td><%=h sequencing_run.run_number %></td>
    <td><%=h sequencing_run.instrument.name_with_version %></td>
    <td><%=h sequencing_run.comment %></td>
    <td><%=h sequencing_run.yield_kb ? sequencing_run.yield_kb / 1000 : "" %></td>
    <td><%= link_to 'Edit', edit_sequencing_run_path(sequencing_run) %></td>
    <td><%= link_to 'Destroy', sequencing_run, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to 'Create Config File',
      new_sequencing_run_gerald_configuration_path(sequencing_run) %></td>
    <td><%= link_to 'Default Output Paths',
      :action => 'default_output_paths', :id => sequencing_run.id %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>
