<a href="../api">&laquo; Back to index</a>

<h1>/projects</h1>
<p class="summary">
This resource can be used to list a summary of all projects, or show details for 
a particular project.<br><br>

Each project belongs to a particular lab group. A project can be associated 
with any number of samples.
</p>





  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/projects</h2>
  
  <p>
Get a list of all projects, which doesn't have all the details that are 
available when retrieving single projects (see GET /projects/[project id]).
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/projects<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> A list of all summary information on all projects</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep-1044892615').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep-1044892615"><%= JsonPrinter.render(Project.find(:all, :limit => 5).collect{|x| x.summary_hash}) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep-1044892615').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep-1044892615"><%= Project.find(:all, :limit => 5).collect{|x| x.summary_hash}.to_xml %></textarea>
    

  
  
</div>




  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/projects/[project id]</h2>
  
  <p>
Get detailed information about a single project.
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/projects/5.json<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> Detailed attributes of a particular project</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep-1591080937').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep-1591080937"><%= JsonPrinter.render(Project.find(:first).detail_hash) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep-1591080937').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep-1591080937"><%= Project.find(:first).detail_hash.to_xml %></textarea>
    

  
  
</div>






