<a href="../api">&laquo; Back to index</a>

<h1>/sample_prep_kits</h1>
<p class="summary">
This resource can be used to list a summary of all sample_prep_kits, or show details for 
a particular sample_prep_kit.<br><br>

A sample_prep_kit can be associated with any number of samples.
</p>





  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/sample_prep_kits</h2>
  
  <p>
Get a list of all sample_prep_kits, which doesn't have all the details that are 
available when retrieving single sample_prep_kits (see GET /sample_prep_kits/[sample_prep_kit id]).
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/sample_prep_kits<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> A list of all summary information on all sample_prep_kits</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep-1630145470').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep-1630145470"><%= JsonPrinter.render(SamplePrepKit.find(:all, :limit => 5).collect{|x| x.detail_hash}) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep-1630145470').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep-1630145470"><%= SamplePrepKit.find(:all, :limit => 5).collect{|x| x.detail_hash}.to_xml %></textarea>
    

  
  
</div>




  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/sample_prep_kits/[sample_prep_kit id]</h2>
  
  <p>
Get detailed information about a single sample_prep_kit.
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/sample_prep_kits/5.json<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> Detailed attributes of a particular sample_prep_kit</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep--161556389').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep--161556389"><%= JsonPrinter.render(SamplePrepKit.find(:first).detail_hash) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep--161556389').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep--161556389"><%= SamplePrepKit.find(:first).detail_hash.to_xml %></textarea>
    

  
  
</div>






