<a href="../api">&laquo; Back to index</a>

<h1>/samples</h1>
<p class="summary">
This resource can be used to list a summary of all samples, or show details for 
a particular sample.<br><br>
A sample can be be run on any number of different flow cells (and therefore 
flow cell lanes), and/or multiple lanes on a particular flow cell. It is also 
conceivable that multiple samples could be run in one flow cell lane, however 
SLIMseq does not yet support this ability.
</p>





  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/samples</h2>
  
  <p>
Get a list of all samples, which doesn't have all the details that are 
available when retrieving single samples (see GET /samples/[sample id]).
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/samples<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> A list of all summary information on all samples</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep--1976512115').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep--1976512115"><%= JsonPrinter.render(Sample.find(:all, :limit => 5).collect{|x| x.summary_hash}) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep--1976512115').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep--1976512115"><%= Sample.find(:all, :limit => 5).collect{|x| x.summary_hash}.to_xml %></textarea>
    

  
  
</div>




  <div style="padding:30px; padding-top:0px;border-bottom:1px solid #ddd;">
  
  
  <h2><span style='color:#ff6600; width:200px;margin-right:20px;'>GET</span>/samples/[sample id]</h2>
  
  <p>
Get detailed information about a single sample.
</p>
  
  <p><strong>Example:</strong> GET <%= SiteConfig.site_url %>/samples/100.json<p/>
  
  <p><strong>Access:</strong> HTTP Basic authentication, Customer access or higher<p/>

  <p><strong>Parameters:</strong>
  
    None
  
  </p>

   
    <strong>Response:</strong> Detailed attributes of a particular sample</br>

    
    JSON example: <br /><a href="#" onclick="javascript:$('jsonrep-1779824582').toggle()">(toggle code)</a><br />
    <textarea style="width:600px;height:400px;display:none;" id="jsonrep-1779824582"><%= JsonPrinter.render(Sample.find(:first).detail_hash) %></textarea></br>
    

    
    XML example: <br /><a href="#" onclick="javascript:$('xmlrep-1779824582').toggle()">(toggle code)</a><br/>
    <textarea style="width:600px;height:400px;display:none;" id="xmlrep-1779824582"><%= Sample.find(:first).detail_hash.to_xml %></textarea>
    

  
  
</div>






