<h2>Listing Users</h2>


<% if @users.size > 0 %>
  <table class="sortable" id="chip_types">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Lab Memberships</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
    <% @users.each do |user| %>        
      <tr>
        <td><%=h user.lastname %>, <%=h user.firstname%></td>
        <td><%=h user.role %>
        <td><%= link_to 'Lab Memberships', user_lab_memberships_path(user) %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, :confirm => "Are you sure you want to destroy " + 
                                    "the user #{user.fullname}",
                        :method => :delete %></td>
      </tr>
    <% end %>
  </table>
<% else %>
    <p>There are currently no users.</p>
<% end %>
