<% number ||= nil %>

<div id="controls">
  <div id="perpage">
  <select onchange="sorter<%= number%>.size(this.value)">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20" selected="selected">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
    <span>Entries Per Page</span>
    </div>
      <div id="navigation">
        <%= image_tag("first.gif", :width => "16", :height => "16", :alt => "First Page", :onclick => "sorter#{number}.move(-1,true)") %>
        <%= image_tag("previous.gif", :width => "16", :height => "16", :alt => "Previous Page", :onclick => "sorter#{number}.move(-1)") %>
        <%= image_tag("next.gif", :width => "16", :height => "16", :alt => "Next Page", :onclick => "sorter#{number}.move(1)") %>
        <%= image_tag("last.gif", :width => "16", :height => "16", :alt => "Last Page", :onclick => "sorter#{number}.move(1,true)") %>
    </div>
  <div id="text">Displaying Page <span id="currentpage<%= number %>"></span> of <span id="pagelimit<%= number %>"></span></div>
</div>


<br>

<script type="text/javascript">
  <% if(sort_column)
       sort_param = ", #{sort_column}"
     else
       sort_param = ""
     end %>

     var sorter<%= number %> = new TINY.table.sorter("sorter<%= number %>");
	sorter<%= number %>.head = "head";
	sorter<%= number %>.asc = "asc";
	sorter<%= number %>.desc = "desc";
	sorter<%= number %>.even = "evenrow";
	sorter<%= number %>.odd = "oddrow";
	sorter<%= number %>.evensel = "evenselected";
	sorter<%= number %>.oddsel = "oddselected";
	sorter<%= number %>.paginate = true;
	sorter<%= number %>.currentid = "currentpage<%= number %>";
	sorter<%= number %>.limitid = "pagelimit<%= number %>";
        sorter<%= number %>.init("table<%= number %>" <%= sort_param %>);
</script>
