<h1>Editing Flow Cell</h1>

<%= error_messages_for :flow_cell %>

<% form_for(@flow_cell) do |f| %>
  <p><label>Date Flow Cell Generated</label><br>
     <%= f.date_select :date_generated %></p>
  <p><label>Flow Cell Name</label><br>
     <%= f.text_field :name %></p>
  <p><label>Flow Cell Comment</label><br>
     <%= f.text_field :comment %></p>

  <%= render :partial => "lanes", :locals => {:lanes => @flow_cell.flow_cell_lanes, :flow_cell_form => f} %>

   <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @flow_cell %> |
<%= link_to 'Back', flow_cells_path %>
