<h1>Editing Flow Cell</h1>

<%= error_messages_for :flow_cell %>

<% form_for(@flow_cell) do |f| %>
  <p><label>Date Flow Cell Generated</label><br>
     <%= f.date_select :date_generated %></p>
  <p><label>Flow Cell Name</label><br>
     <%= f.text_field :name %></p>
  <p><label>Flow Cell Comment</label><br>
     <%= f.text_field :comment %></p>

  <table class="nonsortable">
    <tr>
      <th>Lane Number</th>
      <th>Sample</th>
      <th>Starting Concentration (ng/mL)</th>
      <th>Loaded Concentration (pM)</th>
      <th>Number of cycles</th>
      <th>Lane Comment</th>
    </tr>
  <% for lane in @flow_cell.flow_cell_lanes %>
    <tr>
    <% fields_for "flow_cell[existing_lane_attributes][]", lane do |lane_form| %>
      <td><%=h lane.lane_number %>
          <%= lane_form.hidden_field :lane_number %></td>
      <td><%= lane_form.collection_select :sample_mixture_id, @sample_mixtures, :id, :short_and_long_name_with_cycles %></td>
      <td><%= lane_form.text_field :starting_concentration %></td>
      <td><%= lane_form.text_field :loaded_concentration %></td>
      <td><%= lane_form.text_field :number_of_cycles, :size => 10 %></td>
      <td><%= lane_form.text_field :comment %></td>
      <td></td>
    <% end %>
    </tr>
  <% end %>
  </table>

   <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @flow_cell %> |
<%= link_to 'Back', flow_cells_path %>
