<h1>Listing Flow Cells</h1>

<%= link_to 'New Flow Cell', new_flow_cell_path %>

<table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><h3>Date</h3></th>
      <th><h3>Name</h3></th>
      <th><h3>Status</h3></th>
      <th><h3>Comment</h3></th>
      <th class="nosort"><h3>Show</h3></th>
      <th class="nosort"><h3>Edit</h3></th>
      <th class="nosort"><h3>Destroy</h3></th>
    </tr>
  </thead>
<% for flow_cell in @flow_cells %>
  <tr>
    <td><%=h flow_cell.date_generated.strftime("%Y/%m/%d") %></td>
    <td><%=h flow_cell.name %></td>
    <td><%=h flow_cell.status %></td>
    <td><%=h flow_cell.comment %></td>
    <td><%= link_to 'Show', flow_cell %></td>
    <td><%= link_to 'Edit', edit_flow_cell_path(flow_cell) %></td>
    <td><%= link_to 'Destroy', flow_cell, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>
