<h1>New Flow Cell</h1>

<%= error_messages_for :flow_cell %>

<% form_for(@flow_cell) do |f| %>
  <%= link_to 'Show Samples That Have Already Been Processed',
    new_flow_cell_path(:show_all_samples => true) %>

  <p><label>Date Flow Cell Generated</label><br>
     <%= f.date_select :date_generated %></p>
  <p><label>Flow Cell Name</label><br>
     <%= f.text_field :name %></p>
  <p><label>Flow Cell Comment</label><br>
     <%= f.text_field :comment %></p>
     
     <%= render :partial => "lanes", :locals => {:lanes => @flow_cell.flow_cell_lanes, :flow_cell_form => f} %>

   <%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', flow_cells_path %>
