<h1>Flow Cell</h1>

<p>Date Generated: <%=h @flow_cell.date_generated %></p>
<p>Name: <%=h @flow_cell.name %></p>
<p>Flow Cell Comment: <%=h @flow_cell.comment %></p>
<p>Status: <%=h @flow_cell.status %></p>

<p><%= link_to 'Download Summary', summary_file_flow_cell_url(@flow_cell) %></p>

<table id="table" class="nonsortable" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <th>Lane Number</th>
    <th>Sample</th>
    <th>Starting Concentration (ng/mL)</th>
    <th>Loaded Concentration (pM)</th>
    <th>Number of cycles</th>
    <th>Lane Comment</th>
    <th>Lane Yield (kbases)</th>
    <th>Average Clusters / Tile</th>
    <th>% PF Clusters</th>
    <th>% Align (PF)</th>
    <th>% Error Rate (PF)</th>
  </tr>
<% for lane in @flow_cell.flow_cell_lanes %>
  <tr>
    <td><%=h lane.lane_number %></td>
    <td>
        <%=h lane.sample_mixture.name_on_tube %> (<%=h lane.sample_mixture.sample_description %>)
    </td>
    <td><%=h lane.starting_concentration %> ng/mL</td>
    <td><%=h lane.loaded_concentration %> pM</td>
    <td></td>
    <td><%=h lane.comment %></td>
    <td><%=h lane.lane_yield_kb %></td>
    <td><%=h lane.average_clusters %></td>
    <td><%=h lane.percent_pass_filter_clusters %>%</td>
    <td><%=h lane.percent_align %>%</td>
    <td><%=h lane.percent_error %>%</td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_flow_cell_path(@flow_cell) %> |
<%= link_to 'Back', flow_cells_path %>
