<h1>Flow Cell</h1>

<p>Date Generated: <%=h @flow_cell.date_generated %></p>
<p>Name: <%=h @flow_cell.name %></p>
<p>Flow Cell Comment: <%=h @flow_cell.comment %></p>
<p>Status: <%=h @flow_cell.status %></p>

<table class="sortable">
  <tr>
    <th>Lane Number</th>
    <th>Sample</th>
    <th>Starting Concentration (ng/mL)</th>
    <th>Loaded Concentration (pM)</th>
    <th>Lane Comment</th>
  </tr>
<% for lane in @flow_cell.flow_cell_lanes %>
  <tr>
    <td><%=h lane.lane_number %></td>
    <td>
      <% lane.samples.each do |sample| %>
        <%=h sample.name_on_tube %> (<%=h sample.sample_description %>)
      <% end %>
    </td>
    <td><%=h lane.starting_concentration %> ng/mL</td>
    <td><%=h lane.loaded_concentration %> pM</td>
    <td><%=h lane.comment %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_flow_cell_path(@flow_cell) %> |
<%= link_to 'Back', flow_cells_path %>
