<h1>New study</h1>

<% form_for([@project,@study]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.select(:project_id, @projects.map {|p| [p.name, p.id]}) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

