<h2>Editing experiment <i><%= @experiment.name %></i></h2>

<%= link_to @experiment.study.project.name, :controller=>:experiments, :action=>:edit, :id=>@experiment.study.project.id %>
<% form_for(@experiment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :study %>
    <%= f.select :study_id, @studies.map {|s| [s.name, s.id]}, :selected=>@experiment.study.id %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

  <% form_tag({:controller => 'rnaseq_pipelines', :action=>'launch_prep'}) do |f| %>
  <p>Samples:
    <ul><% @samples.each do |s| %>
        <li>
        <%= check_box 'selected_sample_mixtures', s.sample_mixture.id, {:checked=>'checked'} %>
	<%= link_to s.sample_mixture.name_on_tube, edit_sample_mixture_path(s.sample_mixture) %>
        </li>
    <% end %></ul>
    <%= link_to "Manage samples", :controller=>:experiments, :action=>:add_samples, :id=>@experiment.id %>
    <%= submit_tag 'RNA Seq Pipeline' if AppConfig.rnaseq_pipelines_enabled %>

  </p>
  <% end %><!-- form_tag -->

<%= link_to 'Show', @experiment %> |
<%= link_to 'Back', experiments_path %>
