<h2>Experiment <%= @experiment.name %></h2>
<p>
  <b>Name:</b>
  <%=h @experiment.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @experiment.description %>
</p>

<p>
  <b>Study:</b>
  <%= link_to @experiment.study.name, study_path(@experiment.study) %>
</p>

<p>
  <b>Samples:</b>
  <%= @experiment.samples.collect {|sample|
      link_to( sample.sample_mixture.name_on_tube, :controller=>:samples, :action=>:edit, :id=>sample.id )
  }.join('&nbsp; | &nbsp');
  %>
</p>

<%= link_to 'Edit', edit_experiment_path(@experiment) %> &nbsp; |  &nbsp; 
<%= link_to 'Back', experiments_path %>

<% if AppConfig.rnaseq_pipelines_enabled %>
  &nbsp; |  &nbsp; 
  <%= link_to 'Rnaseq Pipeline', :controller=>:rnaseq_pipelines, :action=>:launch_prep %>
<% end %>
