<h2>Default Gerald Parameters</h2>

<% form_for(@gerald_defaults,
  :url => { :controller => 'gerald_defaults', :id => @gerald_defaults.id, :action => 'update'}) do |g| %>
  <p>
    <p><label>ELAND Seed Length</label><br>
    <%= g.text_field 'eland_seed_length' %></p>

    <p><label>ELAND Max Matches</label><br>
    <%= g.text_field 'eland_max_matches' %></p>
    
    <p><%= g.check_box 'skip_last_base' %>
    Always Skip Last Base in USE_BASES?</p>

    <p><label>Email List</label><br>
    <%= g.text_field 'email_list' %></p>
    
    <p><label>Email Server</label><br>
    <%= g.text_field 'email_server' %></p>
    
    <p><label>Email Domain</label><br>
    <%= g.text_field 'email_domain' %></p>
    
    <p><label>Header (before lane-specific configurations)</label><br>
    <%= g.text_area 'header', :rows => 4 %></p>

    <%= hidden_field_tag 'sequencing_run_id', @sequencing_run.id %>

    <%= g.submit "Update" %>
  </p> 
<% end %>

<h2>Gerald Configuration Generator: <%=h @sequencing_run.run_name %></h2>

<% form_tag :action => 'create' do -%>
  <table class="nonsortable">
    <tr>
      <th>Lane</th>
      <th>Sample</th>
      <th>Reference Genome</th>
      <th>Analysis</th>
      <th>ELAND Seed Length</th>
      <th>ELAND Max Matches</th>
      <th>Use Bases</th>
    </tr>
    <% for n in 0..@flow_cell_lanes.size-1 %>
      <% lane = @flow_cell_lanes[n] 
         sample_mixture = lane.sample_mixture
         first_sample = sample_mixture.samples.first%>
      <tr>
        <td><%=h lane.lane_number %>
          <%= hidden_field_tag "lanes[#{n}][lane_number]", lane.lane_number %></td>
        <td><%=h sample_mixture.short_and_long_name %></td>
        <td><%= text_field_tag "lanes[#{n}][eland_genome]",
          first_sample.reference_genome.fasta_path, :size => 50 %></td>
        <td><%= text_field_tag "lanes[#{n}][analysis]",
          sample_mixture.sample_prep_kit.eland_analysis, :size => 20 %></td>
        <td><%= text_field_tag "lanes[#{n}][eland_seed_length]", 
          sample_mixture.eland_seed_length %></td>
        <td><%= text_field_tag "lanes[#{n}][eland_max_matches]",
          sample_mixture.eland_max_matches %></td>
        <td><%= text_field_tag "lanes[#{n}][use_bases]",
          lane.use_bases_string(@gerald_defaults.skip_last_base) %></td>
      </tr>
    <% end %>
  </table>
  
  <%= submit_tag "Create Config File" %>
<% end -%>
