<h2>Listing Pipeline Results</h2>

<table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><h3>GERALD Date</h3></th>
      <th><h3>Sequencing Date</h3></th>
      <th><h3>Instrument</h3></th>
      <th><h3>Flow Cell</h3></th>
      <th><h3>Flow Cell Lane</h3></th>
      <th><h3>Base Directory</h3></th>
      <th><h3>Eland Output File</h3></th>
      <th><h3>Summary File</h3></th>
      <th><h3>Archived</h3></th>
      <th class="nosort"><h3>Edit</h3></th>
      <th class="nosort"><h3>Destroy</h3></th>
    </tr>
  </thead>

<% for pipeline_result in @pipeline_results %>
  <tr>
    <td><%=h pipeline_result.gerald_date.strftime("%Y/%m/%d") if pipeline_result.gerald_date %></td>
    <td><%=h pipeline_result.sequencing_run.date.strftime("%Y/%m/%d") %></td>
    <td><%=h pipeline_result.sequencing_run.instrument.name_with_version %></td>
    <td><%=h pipeline_result.flow_cell_lane.flow_cell.name %></td>
    <td><%=h pipeline_result.flow_cell_lane.lane_number %></td>
    <td><%=h pipeline_result.base_directory %></td>
    <td><%=h pipeline_result.eland_output_file %></td>
    <td><%=h pipeline_result.summary_file %></td>
    <td><%=h pipeline_result.archived ? "Yes" : "No" %></td>
    <td><%= link_to 'Edit', edit_pipeline_result_path(pipeline_result) %></td>
    <td><%= link_to 'Destroy', pipeline_result, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>

<%= button_to "Load All Summaries", :action => "load_summaries", :method => :get %>
