<h1>Editing instrument</h1>

<% form_for(@instrument) do |f| %>
  <%= f.error_messages %>

  <p>
    <p><label>Platform</label><br>
    <%= f.collection_select :platform_id, Platform.all,
      :id, :name, {:prompt => "None"} %></p>

    <p><label>Name</label><br>
    <%= f.text_field 'name' %></p>
    
    <p><label>Serial Number</label><br>
    <%= f.text_field 'serial_number' %></p>
    
    <p><label>Instrument Version</label><br>
    <%= f.text_field 'instrument_version' %></p>
    
    <p><label>Active Instrument</label><br>
    <%= f.check_box 'active' %></p>

    <p><label>Web Root Directory</label><br>
    <%= f.text_field 'web_root' %></p>

    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @instrument %> |
<%= link_to 'Back', instruments_path %>
