<h2>Listing instruments</h2>

<p><%= link_to 'New instrument', new_instrument_path %></p>

<table id="table" class="sortable" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th><h3>Platform</h3></th>
      <th><h3>Name</h3></th>
      <th><h3>Serial Number</h3></th>
      <th><h3>Instrument Version</h3></th>
      <th><h3>Active Instrument</h3></th>
      <th><h3>Web Root Directory</h3></th>
      <th><h3 class="nosort">Edit</h3></th>
      <th><h3 class="nosort">Destroy</h3></th>
    </tr>
  </thead>
<% for instrument in @instruments %>
  <tr>
    <td><%=h instrument.platform.name %></td>
    <td><%=h instrument.name %></td>
    <td><%=h instrument.serial_number %></td>
    <td><%=h instrument.instrument_version %></td>
    <td><%= instrument.active ? "Yes" : "No" %></td>
    <td><%=h instrument.web_root %></td>
    <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
    <td><%= link_to 'Destroy', instrument, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'shared/tinytable', :locals => {:sort_column => 0} %>
