<h1>New Reference Genome</h1>

<%= error_messages_for :reference_genome %>

<% form_for(@reference_genome) do |f| %>
  <p>
    <p><label>Description</label><br>
    <%= f.text_field 'description' %></p>
    
    <p><label>Shorthand Name</label><br>
    <%= f.text_field 'name' %></p>
    
    <p><label>Organism</label><br>
    <%= f.collection_select 'organism_id', @organisms, 'id', 'name' %></p>
    
    <p><label>FASTA File Path (e.g. /sequencing/genomes/mouse.fasta)</label><br>
    <%= f.text_field 'fasta_path' %></p>
    
    <p><label>Filter Reference File Path (ABI SOLiD)</label><br>
    <%= f.text_field 'filter_reference_path' %></p>

    <p><label>Gene GTF File Path (ABI SOLiD)</label><br>
    <%= f.text_field 'gene_gtf_path' %></p>

    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', reference_genomes_path %>
